version: "3.9"

services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "greenmarket_clicks:1:1,greenmarket_cart:1:1,greenmarket_purchase:1:1,greenmarket_navigation:1:1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  producer:
    build: ./producer
    container_name: producer-1
    depends_on:
      - kafka
    volumes:
      - ../data_generator:/data
    networks:
      - default

  kafka-ui: # Kafka User Interface
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8085:8085"
    environment:
      KAFKA_CLUSTERS_0_NAME: "local"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:9092"
    depends_on:
      - kafka


networks:
  default:
    name: bigdata-net
